body{background: url(fundo1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;    
}

*{margin: 0;}


#container{
    display: flex;
}

.cartao{
    margin: 1rem 1rem;
    background-color: rgb(102, 71, 131);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
    width: 30%;
}
.cartao__conteudo{
    text-align: center;
    height: 100%;
    background-color: rgb(102, 71, 131);
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartao__conteudo h3{
    background-color:rgb(62, 46, 77);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    color: rgb(213, 184, 184);
    backface-visibility: hidden;
    
}
.cartao__conteudo p{
    margin-top: 1rem;
    padding: 3rem;

}
.cartao__conteudo__pergunta p {
    color:  rgb(233, 199, 199);
    font-weight: 500;
    
}
.cartao__conteudo__resposta p{
    color:  rgb(211, 95, 95);
    font-weight: 700;
}
.cartao:hover .cartao__conteudo{
    transform: rotateY(180deg); 
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta
{
    backface-visibility: hidden;
}
.cartao__conteudo__resposta{
    transform: rotateY(180deg);
}


footer{
    background-color: black;
    color: rgb(231, 82, 82);
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer p {
    text-align: center;
    font-size: 18px;
    padding: 5px;
}